{% extends 'base.html' %} {% block title %} Device Log List - Asset Tracking App
{%endblock %}{% block page_name %} Divice Log List {%endblock%}{%block content%}
<div class="bg-white shadow-md rounded-lg overflow-x-auto">
  <table class="w-full table-auto">
    <thead>
      <tr class="bg-blue-100">
        <th class="px-4 py-2">Device</th>
        <th class="px-4 py-2">Employee</th>
        <th class="px-4 py-2">Company</th>
        <th class="px-4 py-2">Checkout Date</th>
        <th class="px-4 py-2">Return Date</th>
        <th class="px-4 py-2">Checkout Condition</th>
        <th class="px-4 py-2">Return Condition</th>
      </tr>
    </thead>
    <tbody>
      {% for log in device_logs %}
      <tr>
        <td class="border px-4 py-2">{{ log.device }}</td>
        <td class="border px-4 py-2">{{ log.employee }}</td>
        <td class="border px-4 py-2">{{ log.company }}</td>
        <td class="border px-4 py-2">{{ log.checkout_date }}</td>
        <td class="border px-4 py-2">{{ log.return_date }}</td>
        <td class="border px-4 py-2">{{ log.checkout_condition }}</td>
        <td class="border px-4 py-2">{{ log.return_condition }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{%endblock%}
