{% extends 'base.html' %}{% block title %} Device List - Asset Tracking App
{%endblock %}{% block page_name %} Device List {%endblock%} {% block content %}
<div class="bg-white shadow-md rounded-lg overflow-x-auto">
  <table class="w-full table-auto">
    <thead>
      <tr class="bg-blue-100">
        <th class="px-4 py-2">Devices Name</th>
        <th class="px-4 py-2">Divice Serial</th>
        <th class="px-4 py-2">Condition</th>
      </tr>
    </thead>
    <tbody>
      {% for devices in device %}
      <tr class="text-center">
        <td class="border px-4 py-2">{{ devices.name }}</td>
        <td class="border px-4 py-2">{{ devices.divice_serial }}</td>
        <td class="border px-4 py-2">{{ devices.condition }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{%endblock%}
