{% extends 'base.html' %}{% block title %} Employee List - Asset Tracking App
{%endblock %}{% block page_name %} Employee List {%endblock %}{%block content %}
<div class="bg-white shadow-md rounded-lg overflow-x-auto">
  <table class="w-full table-auto">
    <thead>
      <tr class="bg-blue-100">
        <th class="px-4 py-2">Company Name</th>
        <th class="px-4 py-2">Employees Name</th>
        <th class="px-4 py-2">Employees ID</th>
      </tr>
    </thead>
    <tbody>
      {% for employees in employee %}
      <tr class="text-center">
        <td class="border px-4 py-2">{{ employees.company.name }}</td>
        <td class="border px-4 py-2">{{ employees.name }}</td>
        <td class="border px-4 py-2">{{ employees.id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{%endblock %}
