<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Asset Tracking App{% endblock %}</title>
  </head>

  <body>
    <header>
      <h1>Asset Tracking App</h1>
      <nav>
        <ul>
          <li><a href="{% url 'company_list' %}">Company</a></li>
          <li><a href="{% url 'employees_list' %}">Employees</a></li>
          <li><a href="{% url 'devices_list' %}">Devices</a></li>
          <li><a href="{% url 'deviceslogs_list' %}">Devices Logs</a></li>
          <li><a href="{% url 'add_company' %}">Add Company</a></li>
          <li><a href="{% url 'add_employees' %}">Add Employees</a></li>
          <li><a href="{% url 'add_devices' %}">Add Devices</a></li>
          <li><a href="{% url 'add_deviceslogs' %}">Add Devices Logs</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>Company Name</h2>
      <table>
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Employees Name</th>
            <th>Employees ID</th
          </tr>
        </thead>
        <tbody>
          {% for employees in employee %}
          <tr>
            <td>{{ employees.company.name }}</td>
            <td>{{ employees.name }}</td>
            <td>{{ employees.id }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
